* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

html, body, .container {
    height: full;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    padding: 0rem 26rem;
    display: flex;
    flex-direction: column;
}

nav {
   color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: end;
    padding: 1rem 0rem;
}

#logo {
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem 0;
    gap: 3rem;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-section section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

img {
    width: 30rem;
    height: auto;
}

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 12rem;
    gap: 2rem;
}

.features-section div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.features-section div div {
    height: 120px;
    border: 2px solid black;
    border-radius: 15%;
}

.features-section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
}


.testimonial-section,
.testimonial-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-author {
    align-self: self-end;
}

.cta-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12rem;
}

.cta-section section {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
