* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*border: 1px solid black;*/
}

/* POSITIONING */

html, body {
    height: full;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    padding-left: 26rem;
    padding-right: 26rem;
    flex-direction: column;
}

nav {
   color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: end;
    padding: 1rem 0rem;
}

#logo {
    margin-right: auto;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main > section {
    padding: 10em 0rem;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-section section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
}

img {
    width: 30rem;
    height: auto;
    background-color: #E5E7EB;
    color: #1F2937;
}

.features-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 12rem;
    gap: 2rem;
}

.features-section > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.features-section > div > div  div {
    height: 120px;
    border: 2px solid black;
    border-radius: 15%;
}

.features-section section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
}


.testimonial-section,
.testimonial-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-author {
    align-self: self-end;
}

.cta-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cta-section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.cta-section section {
    display: flex;
    flex-direction: column;
    padding-right: 8rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

/* COLORS & FONT */

nav,
.header-section,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul > li,
.header-section p {
    color: #E5E7EB;
}

.header-section button {
    border: none;
}

.testimonial-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#quote-author {
    font-size: 18px;
    font-weight: bold;
}

.features-section > div > div  div {
    border-color: #3382F6;
}

button,
.cta-section > div {
    background-color: #3382F6;
    color: #F9FAF8;
    border-radius: 0.4rem;
    border-color: white;
}

button {
    padding: 0.5rem 1.5rem;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

