* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main,
nav,
footer {
    padding: 0rem 10rem;
}

main {
    flex-grow: 1;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
